extends base

block content
  if errorMessage
    p=errorMessage
  form(method="POST")
    input(type="password", name="oldPassword", placeholder="old password", required=true)
    input(type="password", name="newPassword", placeholder="new password", required=true)
    input(type="password", name="newPassword2", placeholder="new password confirmation", required=true)
    input(type="submit", value="Update Password")